.user-info {
  position: relative;

  &__name {
    cursor: pointer;
  }

  &__signed-as {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
  }

  &__popup {
    padding-bottom: 10px;
    top: 30px;
    right: 0;
    background: #fff;
    color: #777;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 3px;
    min-width: 180px;
    z-index: 999;
    
    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fff;
      right: 18px;
      top: -5px;
      transform: rotate(45deg);
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    a {
      color: #777;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }

  &__link {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
}