.vestibul {
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;

  &__title {
    color: $very-dark-cyan;
    font-size: 2em;
    font-family: 'SourceSansPro-Bold';
    text-align: center;
    margin-bottom: 20px;
  }

  &__description {
    color: $soft-cyan;
    font-family: 'SourceSansPro-Light';
    font-size: 1.375em;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    text-align: center;
    padding: 12px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
}

@media (min-width: 890px) {
  .vestibul {
    padding-bottom: 0;
    
    &__content {
      flex-direction: row;
    }
  }
}