.l-container {
  margin: 0 auto;
  max-width: 1170px; }

@media (min-width: 768px) {
  .l-container {
    margin: 100px auto 0; } }

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 16px 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 4px 0 30px; } }

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%; }
  .menu__link {
    color: #787878;
    text-decoration: none;
    transition: color .2s;
    text-align: center;
    padding: 10px 0; }
    .menu__link_selected, .menu__link:hover {
      color: #6dc5dd; }

@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    margin-top: 0;
    width: unset; }
    .menu__link {
      border-right: 1px solid #e7e7e7;
      padding: 0 26px; } }

.logo {
  display: flex; }
  .logo__image {
    margin-right: 16px; }
  .logo__title {
    font-size: 23.62px;
    color: #003d48; }
    .logo__title_dark_bold {
      font-weight: bold; }
    .logo__title_orange_light {
      color: #f77462; }
  .logo__caption {
    color: #929292; }

.footer {
  display: grid;
  flex-direction: column;
  background: #6dc5dd;
  padding: 0 30px; }
  .footer__top {
    display: grid;
    grid-template-columns: 1fr; }
  .footer__item {
    text-align: center;
    color: #fff;
    padding: 20px 0; }
  .footer__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px; }
  .footer__description {
    font-size: 14px; }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-top: 1px solid #9fd9e9;
    padding: 20px 0; }
  .footer__copyright {
    text-align: center; }
  .footer__social {
    display: flex;
    margin-top: 30px; }
  .footer__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #fff;
    color: #6dc5dd;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    transition: opacity .2s;
    border: none; }
    .footer__social-item:not(:last-child) {
      margin-right: 10px; }
    .footer__social-item:hover {
      opacity: .8; }

@media (min-width: 768px) {
  .footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .footer__top {
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 20px;
      padding-top: 60px;
      padding-bottom: 60px; }
    .footer__item {
      text-align: left; }
    .footer__bottom {
      flex-direction: row; }
    .footer__social {
      margin: 0; } }

.button {
  display: block;
  border-radius: 2px;
  background: #f77462;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background .2s; }
  .button:hover {
    background: #f66753; }
  .button_large {
    padding: 0 23px;
    height: 44px;
    font-size: 18px; }
  .button_small {
    padding: 0 16px;
    height: 38px;
    font-size: 15px; }

.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  background: linear-gradient(#e7e7e7, #fff 70%); }
  .header__image {
    display: none; }
  .header__info {
    padding: 0 30px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header__pre-title {
    font-size: 21px;
    color: #003d48; }
  .header__title {
    font-size: 31px;
    color: #003d48;
    font-weight: bold; }
  .header__description {
    font-size: 16px;
    color: #8b8b8b;
    margin: 20px 0; }

@media (min-width: 768px) {
  .header__image {
    display: block; }
  .header__info {
    height: unset;
    display: block;
    margin-bottom: 77px;
    margin-left: 40px;
    padding: 0;
    text-align: left; }
  .header__pre-title {
    font-size: 31px; }
  .header__title {
    font-size: 41px; }
  .header__description {
    margin: 40px 0;
    max-width: 470px;
    font-size: 18px; } }

body {
  background: #211d18 url(../../images/wood-texture.jpg); }
