$border-width: 2px;
$border: $border-width solid $gray-light;
$border-radius: 3px;

.tabs {

  &__row {
    display: flex;
    width: 100%;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: $border;
      height: 2px;
    }
  }

  &__tab {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    padding: 0 22px;
    height: 40px;
    font-family: 'SourceSansPro-Bold';
    color: $middle-gray;
    border: none;
    border-left: $border;
    border-top: $border;
    border-right: $border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    cursor: pointer;
    border-bottom: $border;
    background: $white;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &_active {
      background: $very-dark-cyan;
      color: $soft-red;
      border-bottom: $very-dark-cyan;
    
      &::after,
      &::before {
        box-sizing: border-box;
        position: absolute;
        content: '';
        bottom: 0;
        width: 4px;
        height: 4px;
        background: none;
        border-radius: 2px;
      }

      &::after {
        right: -4px;
        border-left: $border;
        box-shadow: -2px 2px $very-dark-cyan;
        border-bottom: $border;
      }

      &:not(:first-child) {
        
        &::before {
          left: -4px;
          border-right: $border;
          box-shadow: 2px 2px $very-dark-cyan;
          border-bottom: $border;
        }
      }
    }
  }

  &__current-info {
    background: $very-dark-cyan;
    padding: 30px;
    border-left: $border;
    border-right: $border;
    border-bottom: $border;
    line-height: 1.5em;
  }

  &__title {
    font-family: 'SourceSansPro-Bold';
    color: $soft-cyan;
    font-size: 1.25em;
    margin-bottom: 20px;
  }

  &__description {
    color: $white;
    font-family: 'SourceSansPro-Regular';
    font-size: .9375em;
  }

  &__list {
    padding: 28px 30px;
    margin: 0;
    border-left: $border;
    border-bottom: $border;
    border-right: $border;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__list-item {
    font-family: 'SourceSansPro-Regular';
    font-size: .9375em;
    color: $middle-gray;
    list-style: none;
    border-bottom: 1px solid $gray-light;
    padding: 9px 0;
  }

  &__list-arrow {
    color: $soft-red;
    margin-right: 17px;
  }
}

@media (min-width: 890px) {

  .tabs {
    max-width: 340px;

    &__title {
      margin-bottom: 8px;
    }
  }
}