$very-dark-cyan: #003d48;
$soft-red: #f77462;
$dark-gray: #929292;
$darken-gray: #8b8b8b;
$middle-gray: #787878;
$very-light-gray: #e7e7e7;
$soft-cyan: #6dc5dd;
$very-soft-cyan: #9fd9e9;
$white: #fff;
$very-dark-orange: #211d18;