.footer {
  display: grid;
  flex-direction: column;
  background: $soft-cyan;
  padding: 0 30px;

  &__top {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__item {
    text-align: center;
    color: $white;
    padding: 20px 0;
  }

  &__title {
    font-size: 1.25em;
    font-family: 'SourceSansPro-Bold';
    margin-bottom: 16px;
  }

  &__description {
    font-size: .875em;
    font-family: 'SourceSansPro-Regular';
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $white;
    border-top: 1px solid $very-soft-cyan;
    padding: 20px 0;
  }

  &__copyright {
    text-align: center;
    font-family: 'SourceSansPro-Regular';
  }

  &__social {
    display: flex;
    margin-top: 30px;
  }

  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $white;
    color: $soft-cyan;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    transition: opacity .2s;
    border: none;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      opacity: .8;
    }
  }
}

@media (min-width: 890px) {
  .footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &__top {
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 20px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__item {
      text-align: left;
    }

    &__bottom {
      flex-direction: row;
    }

    &__social {
      margin: 0;
    }
  }
}