.present {
  background: $soft-red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white;
  min-height: 206px;

  &__title {
    font-family: 'SourceSansPro-Bold';
    font-size: 32px;
    margin-bottom: 10px;
  }

  &__description {
    font-family: 'SourceSansPro-Light';
    font-size: 18px;
    margin: 0 22%;
  }
}