.present {
  background: $soft-red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white;
  min-height: 206px;

  &__title {
    font-family: 'SourceSansPro-Bold';
    font-size: 2em;
  }

  &__description {
    font-family: 'SourceSansPro-Light';
    font-size: 1.125em;
    margin: 0 22%;
    margin: 8px 22%;
    line-height: 1.5em;
  }
}