.button {
  border-radius: 2px;
  background: $soft-red;
  border: none;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background .2s;
  font-family: 'SourceSansPro-Regular';

  &:hover {
    background: darken($color: $soft-red, $amount: 3);
  }
  
  &_large {
    padding: 0 23px;
    height: 44px;
    font-size: 1.125em;
  }

  &_small {
    padding: 0 16px;
    height: 38px;
    font-size: .9375em;
  }

  &__more {
    background: none;
    transition: opacity .2s;

    &_light {
      color: $white;
      text-transform: unset;
      font-size: 1em;
      font-family: 'SourceSansPro-Bold';
    
      i {
        font-size: .875em;
        margin-left: 10px;
      }
    }

    &_orange {
      color: $soft-red;
    }

    &:hover {
      background: none;
      opacity: .7;
    }
  }
}