.logo {
  display: flex;

  &__image {
    margin-right: 16px;
  }

  &__title {
    font-size: 23.62px;
    color: $very-dark-cyan;

    &_dark_bold {
      font-family: 'Arial-Bold-MT';
    }

    &_orange_light {
      font-family: 'Lato-Light';
      color: $soft-red;
    }
  }

  &__caption {
    color: $dark-gray;
    font-family: 'Lato-Regular';
  }
}